body {
	background-color: #6699ff;
	font-family: "Arial", sans-serif;
	font-weight: 250;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 30px;
}

.links > a {
	color: white;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-decoration: none;
	text-transform: uppercase;
}

/* login page */

.form {
	border-radius: 7px;
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 30px;
	text-align: center;
	border: 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.logininput {
	border-radius: 7px;
	font-family: "Arial", sans-serif;
	background: #f2f2f2;
	width: 100%;
	border: 1px solid white;
	margin: 0 0 16px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginbutton {
	border: 1px solid white;
	border-radius: 7px;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	background: #6699ff;
	width: 50%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginbutton:hover,
.loginbutton:active,
.loginbutton:focus {
	background: #4d88ff;
}

.loginlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

input:focus {
	border: 1px solid #6699ff;
}

/* table */

.main-table {
	width: 98%;
	margin-top: 20px;
	border-collapse: collapse;
}

.main-thead tr,
.main-tbody tr {
	background: #eee;
}

.fejlec-center {
	text-align: center;
	vertical-align: middle;
}

.main-thead th {
	background: #424242;
	color: white;
	font-weight: bold;
	text-align: center;
}

.main-tbody td,
.main-thead th {
	padding: 6px;
	border: 1px solid #ccc;
}

.centercell {
	text-align: center;
	vertical-align: middle;
}

/* zöld fizetve button

.fizetve-button {
    border: 1px solid white;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    background: green;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
        0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.fizetve-button:hover,
.fizetve-button:active,
.fizetve-button:focus {
    background: #155115;
} */

.fizetve-button {
	padding: 5px;
	border: 1px solid white;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	background: red;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.fizetve-button:hover,
.fizetve-button:active,
.fizetve-button:focus {
	background: #300c0c;
}

.check {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row-rend {
	width: 7%;
}

.row-nev {
	width: 20%;
}

.row-cim {
	width: 35%;
}

.row-tel {
	width: 15%;
}

.row-fizm {
	width: 7%;
}

.row-ossz {
	width: 7%;
}

.row-fiz {
	width: 7%;
}

.main-table tr:nth-child(even) {
	background-color: #e4e4e4;
}

/* table resp */

@media only screen and (max-width: 600px) {
	.main-table,
	.main-thead,
	.main-tbody,
	.main-thead th,
	.main-tbody td,
	.main-thead tr,
	.main-tbody tr {
		display: block;
	}

	.main-table {
		margin-top: 20px;
		width: 95%;
	}

	.main-thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.main-thead tr,
	.main-tbody tr {
		margin: 0 0 1rem 0;
		background: #eee;
	}

	.main-thead td,
	.main-tbody td {
		border: 1px solid #ccc;
		border-bottom: 0;
		position: relative;
		padding-left: 50%;
		text-align: center;
	}

	.main-tbody td:before {
		position: absolute;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.main-tbody td:nth-of-type(1):before {
		content: "Rendelések";
	}

	.main-tbody td:nth-of-type(2):before {
		content: "Név";
	}

	.main-tbody td:nth-of-type(3):before {
		content: "Cim";
	}

	.main-tbody td:nth-of-type(4):before {
		content: "Tel";
	}

	.main-tbody td:nth-of-type(5):before {
		content: "Fizetési mód";
	}

	.main-tbody td:nth-of-type(6):before {
		content: "Összeg";
	}

	.main-tbody td:nth-of-type(7):before {
		content: "Fizetett";
	}
}

#myTable {
	margin-left: auto;
	margin-right: auto;
}

#week-counter {
	width: 100px;
	padding: 10px;
	margin-right: 2%;
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.btn-basic {
	width: auto;
	padding: 10px;
	text-align: center;
	display: inline-block;
	margin-top: 1%;
	border: 1px solid white;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	background: #424242;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn-basic:hover,
.btn-basic:active,
.btn-basic:focus {
	background: #111;
}

.btn-rend {
	width: auto;
	padding: 5px;
	text-align: center;
	display: inline-block;
	margin-top: 1%;
	border: 1px solid white;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	background: #424242;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.btn-rend:hover,
.btn-rend:active,
.btn-rend:focus {
	background: #111;
}

.modal-row-size-l {
	width: 15%;
}

.modal-row-size-s {
	width: 10%;
}

.modal-lg{
	max-width: 80.5rem;
}

.float-right {
	float: right;
}

.megrendelo-table {
	width: 98%;
	margin-top: 20px;
	border-collapse: collapse;
}

.megrendelo-table tr {
	background: #eee;
}

.megrendelo-table td {
	text-align: left;
	padding: 6px;
	border: 1px solid #ccc;
}

.megrendeles-table-input {
	background-color: transparent;
	margin: 0px;
	width: 50px;
	border: 0px;
	padding: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.buttonrows {
	margin-left: 2%;
}

@media only screen and (min-width: 601px) {
	p.buttonrows {
		display: inline;
	}
}

.megrendelo-thead {
	background: #424242;
	color: white;
	font-weight: bold;
	text-align: center;
	border: 1px solid #424242;
}

.megrendelo-napok {
	border: 1px solid #ccc;
}
